html {
  background-color: #ffe3dd;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #ea728c;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(78, 78, 78);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
}
